.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* Інші стилі, які ви хочете встановити для логотипу */
}
.span {
    color: #2e2f42;
}
.list1 {
    color:#2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.list:hover {
    color:#404bbf;
}
.list1:focus {
    color: #404bbf;
}